In [1]:
import pandas as pd
import numpy as np

In [2]:
from weather.noaa_weather import *

In [3]:
city = 'Berkeley'
state = 'CA'
address = '{}, {}'.format(city, state)
year = 2018
station_ids, station_names = find_closest_weather_station(geocode_address(address))

In [4]:
weather = download_weather(station_ids[0], year)
weather = weather.tz_convert('America/Los_Angeles').tz_localize(None)  # remove tz-awareness

weather

                     Temperature  CloudCoverage
DateTime
2017-12-31 16:53:00         13.3            2.0
2017-12-31 17:53:00         12.2            7.0
2017-12-31 18:53:00         11.1            7.0
2017-12-31 19:53:00         11.1            7.0
2017-12-31 20:53:00          9.4            2.0
...                          ...            ...
2018-12-31 11:53:00         13.9            2.0
2018-12-31 12:53:00         14.4            2.0
2018-12-31 13:53:00         14.4            2.0
2018-12-31 14:53:00         14.4            4.0
2018-12-31 15:53:00         13.9            4.0

[10580 rows x 2 columns]

In [24]:
weather_input = weather.truncate(before='2018-07-01', after='2018-08-01').resample('1H').mean().resample('15T').interpolate()

In [17]:
weather.truncate(before='2018-07-01', after='2018-08-01').interpolate()

                     Temperature  CloudCoverage
DateTime
2018-07-01 00:53:00        14.40            4.0
2018-07-01 00:59:00        14.15            4.0
2018-07-01 01:53:00        13.90            4.0
2018-07-01 02:53:00        13.90            2.0
2018-07-01 03:53:00        13.90            7.0
...                          ...            ...
2018-07-31 20:53:00        14.40            2.0
2018-07-31 21:47:00        14.00            2.0
2018-07-31 21:53:00        13.90            2.0
2018-07-31 22:53:00        13.90            2.0
2018-07-31 23:53:00        13.90            2.0

[868 rows x 2 columns]

In [21]:
len(weather)

10580

In [27]:
weather_input['Temperature'].isna().sum()

0